@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html, *, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  height: 100vh;
  background: #ADD8E6;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: #222 1px 3px 9px;
  @media screen and (orientation: landscape) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  &::after {
    content: 'press ENTER key to refresh';
    display: block;
    font-size: 12px;
    font-style: italic;
  }

  input {
    width: 340px;
    margin: 5px auto;
    height: 50px;
    text-align: center;
    font-size: 1em;
    border: 1px solid darkgrey;
    border-radius: 30px;
    background: rgb(43 45 57 / 54%);
    color: white;
    &:focus-visible {
      outline-color: #03a9f4;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.604);
      opacity: .6; /* Firefox */
    }
  }
}

main {
  display: flex;
  gap: 1em;
  text-align: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (orientation: landscape) and (max-width: 767px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
  }
  @media screen and (min-width: 768px) {
    height: 90vh;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    z-index: -1;
  }

  .location {
    text-align: right;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 700;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .weather-icon {
      width: 80px;
    }
  }

  .temp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (orientation: landscape) {
      max-width: 45%;
    }
    @media screen and (min-width: 992px) {
      max-width: 25%;
    }
    .c {
      font-size: 4rem;
      font-weight: 700;
      @media screen and (orientation: landscape) {
        display: block;
        width: 60vw;
        text-align: right;
      }
    }
    .feel {
      &::before {
        content: 'feel like ';
        font-style: italic;
      } 
    }
  
  }

}

.city {
  width: min-content;
}

article {
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-image: linear-gradient(360deg, #3f51b5 0%, #03a9f4 100%);
  @media screen and (orientation: landscape) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    width: 90px;
    height: 100vh;
  }

  .info-box {
    width: 25%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    @media screen and (orientation: landscape) {
      width: 80%;
      height: 5em;
    }

    &__icon {
      height: 25px;
      margin-bottom: 7px;
      &.sun-icon {
        height: 20px;
      }
    }

    &__label {
      font-size: .7rem;
    }

    &.day {
      display: flex;
      flex-direction: column;

      span {
        font-size: .8rem;
      }

    }

  }
}
